<h1>This is the show view for Articles</h1>
<div>
  <h2><%= @article.title %></h2>
  <em>Published <%= @article.created_at.strftime('%b %d, %Y') %></em><p></p>
  <p>Filed under: <% @article.categories.each do |category| %>
    <%= link_to category.name, category %>&nbsp;<% end %>
  </p>
  <div><%= @article.content %></div>
</div>